@import "./weui.css";

page {
  background-color: #F8F8F8;
  height: 100%;
  font-size: 0.8533333333333334rem;
  line-height: 1.6;
}
.page-body{
  padding-top: 1.6rem;
}
.page-section{
  width: 100%;
  margin-bottom: 1.6rem;
}
.page-section_center{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-section:last-child{
  margin-bottom: 0;
}
.page-section-gap{
  box-sizing: border-box;
  padding: 0 0.8rem;
}
.page-section-spacing{
  box-sizing: border-box;
  padding: 0 2.1333333333333333rem;
}
.page-section-title{
  font-size: 0.7466666666666667rem;
  color: #999999;
  margin-bottom: 0.26666666666666666rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}
.page-section-gap .page-section-title{
  padding-left: 0;
  padding-right: 0;
}

.demo-text-1{
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: #1AAD19;
  color: #FFFFFF;
  font-size: 0.96rem;
}
.demo-text-1:before{
  content: 'A';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.demo-text-2{
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: #2782D7;
  color: #FFFFFF;
  font-size: 0.96rem;
}
.demo-text-2:before{
  content: 'B';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.demo-text-3{
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: #F1F1F1;
  color: #353535;
  font-size: 0.96rem;
}
.demo-text-3:before{
  content: 'C';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button{
  margin-bottom: 0.8rem;
}
button:last-child{
  margin-bottom: 0;
}
.page-section-title{
  padding: 0;
}
.swiper-item{
  display: block;
  height: 8rem;
}
.page-section-title{
  margin-top: 1.6rem;
  position: relative;
}
.info{
  position: absolute;
  right: 0;
  color: #353535;
  font-size: 0.8rem;
}
.page-foot{
  margin-top: 1.3333333333333333rem;
}